<!DOCTYPE html>
<html>
<head>
    <title>Real-Time Products</title>
</head>
<body>
    <h1>Real-Time Products</h1>
    
    <ul>
        {{#each products}}
        <li>{{this.title}} - {{this.description}} - ${{this.price}}</li>
        {{/each}}
    </ul>

    <h2>Agregar Producto</h2>
    <form id="productForm">
        <input type="text" name="title" placeholder="Nombre del producto" required>
        <input type="text" name="description" placeholder="Descripción" required>
        <input type="number" name="price" placeholder="Precio" required>
        <button type="submit">Agregar Producto</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/index.js"></script>
    
</body>
</html>