<!-- views/chat.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>

<body>
    <h1>Chat</h1>

    <div id="chat-container">
        {{#each messages}}
        <div class="message {{#if (eq user 'system')}}system{{/if}}">
            <p>{{message}}</p>
            <span class="timestamp">{{formatTimestamp timestamp}}</span>
        </div>
        {{/each}}
    </div>

    <!-- Formulario para enviar un nuevo mensaje -->
    <form id="message-form">
        <input type="text" id="new-message" placeholder="Escribe tu mensaje...">
        <button type="submit">Enviar</button>
    </form>

</body>

</html>